.container {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);

    .contain {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin: 0 auto;
        font-size: 15px;
        font-weight: 600;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        width: 600px;
    }


    .startBtn {
        border: 3px solid #ffc451;
        padding: 15px;
        border-radius: 15px;
    }
}